<h1> Welcome to Super Rentals </h1>
<br>

<p>We hope you find exactly what you're looking for in a place to stay.</p>
<br>

{{#link-to 'about'}}About{{/link-to}}

<br>

{{#link-to 'contact'}}Contact us.{{/link-to}}
